
Technical Documentation/.obsidian/app.json
Technical Documentation/.obsidian/appearance.json
Technical Documentation/.obsidian/core-plugins-migration.json
Technical Documentation/.obsidian/core-plugins.json
Technical Documentation/.obsidian/workspace.json
Technical Documentation/~$02_official_technical_documentation.docx
Technical Documentation/~$gan_GE02_td.docx
Technical Documentation/.DS_Store
Technical Documentation/.obsidian/*

